In [1]:
# covid toy - logistic regression
# customer - ordinal encoding / label encoding
# cars - one hot encoding

import pandas as pd
d = pd.read_csv('customer.csv')

In [2]:
d.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [3]:
d.dtypes

age           int64
gender       object
review       object
education    object
purchased    object
dtype: object

In [4]:
d['gender'].unique()

array(['Female', 'Male'], dtype=object)

In [5]:
d['review'].unique()

array(['Average', 'Poor', 'Good'], dtype=object)

In [6]:
d['education'].unique()

array(['School', 'UG', 'PG'], dtype=object)

In [7]:
d['purchased'].unique()

array(['No', 'Yes'], dtype=object)

In [8]:
from sklearn import preprocessing

In [9]:
label_encoder = preprocessing.LabelEncoder()

In [10]:
d['purchased'] = label_encoder.fit_transform(d['purchased'])

In [11]:
d['purchased'].unique()

array([0, 1])

In [12]:
d['gender'] = label_encoder.fit_transform(d['gender'])

In [13]:
d['gender'].unique()

array([0, 1])

In [14]:
d['review'] = label_encoder.fit_transform(d['review'])

In [15]:
d['review'].unique()

array([0, 2, 1])

In [16]:
d['education'] = label_encoder.fit_transform(d['education'])

In [17]:
d['education'].unique()

array([1, 2, 0])

In [18]:
d

    age  gender  review  education  purchased
0    30       0       0          1          0
1    68       0       2          2          0
2    70       0       1          0          0
3    72       0       1          0          0
4    16       0       0          2          0
5    31       0       0          1          1
6    18       1       1          1          0
7    60       0       2          1          1
8    65       0       0          2          0
9    74       1       1          2          1
10   98       0       1          2          1
11   74       1       1          2          1
12   51       1       2          1          0
13   57       0       0          1          0
14   15       1       2          0          1
15   75       1       2          2          0
16   59       1       2          2          1
17   22       0       2          2          1
18   19       1       1          1          0
19   97       1       2          0          1
20   57       0       0          1          1
21   32       1       0          0          0
22   18       0       2          0          1
23   96       0       1          1          0
24   16       0       0          0          1
25   57       0       1          1          0
26   53       0       2          0          0
27   69       0       2          0          0
28   48       1       2          1          0
29   83       0       0          2          1
30   73       1       0          2          0
31   22       0       2          1          1
32   92       1       0          2          1
33   89       0       1          0          1
34   86       1       0          1          0
35   74       1       2          1          1
36   34       0       1          2          1
37   94       1       0          0          1
38   45       0       1          1          0
39   76       1       2          0          0
40   39       1       1          1          0
41   23       1       1          0          1
42   30       0       1          0          1
43   27       1       2          0          0
44   77       0       0          2          0
45   61       1       2          0          1
46   64       0       2          0          0
47   38       0       1          0          1
48   39       0       1          2          1
49   25       0       1          2          0